@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1;}

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
    background-color:black;
    margin: 0;
  }

h1 {
    color:#9D0B0B;
    font-family: 'IM Fell English SC', serif;
    font-size: 90px;
    text-align: center;
    text-shadow: 2px 2px 5px red;
  }

h1:hover {
    color: white;
    text-shadow: 2px 2px 5px red;
  }


p {
    color:lightgrey;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 5vmin;
    margin-right:auto;
    margin-left:auto;
    margin-top:50px;
    margin-bottom:40px;
    text-align: justify;
  }

.head-container {
    position: relative;
    height: 700px;
    width: 100%;
  }

.mansion {position: absolute;
            margin-top: 2%;
            margin-left: 25%;
            margin-right: 25%;
            padding-bottom: 10px;
            height: 300px;
            width:  400px;
  }

.title {position: absolute;
          margin-top: 290px;
          margin-left: 25%;
          margin-right: 25%;
}


.center-container{position: relative;
                    height: auto;
                    width:auto;

 }

.logo {position: sticky;
           padding-right: 30px;
           float: right;
           shape-outside:circle();
           margin: 40px;
           height: auto;
           width:  auto;
   }
.bottom-container{position: relative;
                  padding-top: 50px;
                    height: auto;
                    width:auto;
 }

.ruthie {position: sticky;
          padding-left: 30px;
          float: left;
          shape-outside:ellipse(100px 160px);
          margin-top: 40px;
          margin-bottom: 40px;
          margin-right: 60px;
          margin-left: : 60px;
          height: auto;
          width:  auto;
  }

  .story {margin-left: 50px;
          margin-right: 20px;
  }

  }
