@media(min-device-width:641px){

body {
  background-color:black;
  margin: 0;
}

h1 {
  color:#9D0B0B;
  font-family: 'IM Fell English SC', serif;
  font-size: 90px;
  text-shadow: 2px 2px 5px red;
}

h1:hover {
  color: white;
  text-shadow: 2px 2px 5px red;
}


p {color:lightgrey;
  font-family: 'Special Elite', cursive;
  font-size: 20px;
padding-top: 100px;
padding-left: 100px;
padding-right: 50px;
text-align: justify;
}

.head-container {position: relative;
                height: 500px;
                width: 100%;
}

.mansion {position: absolute;
          margin-top: 50px;
          margin-left: 50px;
          height: 300px;
          width:  400px;
}

.title {position: absolute;
        margin-top: 150px;
        margin-left: 500px;

}


.center-container{position: relative;
                  height: 600px;
                  width:100%;
}

.ruthie {position:sticky;
        padding-top: 100px;
        padding-left: 130px;
        padding-right: 80px;
        padding-bottom: 80px;
        float: left;
        shape-outside:ellipse(100px 140px);
        margin: 60px;
        height: 40%;
        width:  10%;
}

.story {margin-left: 100px;
        margin-right: 50px;
}

}

@media(max-device-width:640px){

body {
  background-color:black;
  margin: 0;
}

h1 {
  color:#9D0B0B;
  font-family: 'IM Fell English SC', serif;
  font-size: 95px;
  text-shadow: 2px 2px 5px red;
}

h1:hover {
  color: white;
  text-shadow: 2px 2px 5px red;
}


p {color:lightgrey;
  font-family: 'Special Elite', cursive;
  font-size: 20px;
padding-top: 100px;
padding-left: 100px;
padding-right: 50px;
text-align: justify;
}


.head-container {position: relative;
                height: 400px;
                width: 100%;
}

.mansion {position: absolute;
          margin: auto;
          padding: 30px, 50px;
          height: 50%;
          width:  50%;
}

.title {position: absolute;
        margin: 120px, auto, 30px, 50px;
        padding: 80px, 60px;
        text-align: center;
}


.center-container{position: relative;
                  height: 600px;
                  width:100%;
}

.bottom-container{position: relative;
                  height: 600px;
                  width:100%;
}
.ruthie {position:sticky;
        padding-top: 100px;
        padding-left: 80px;
        padding-bottom: 80px;
        float: left;
        shape-outside:ellipse();
        margin: 20px;
        height: 50%;
        width:  20%;
}

.story {padding-top:150px;
        margin-left: 80px;
        margin-right: 40px;
        font-size: 50px;
}
}
